task_name: "twip_balancing"
device: "cuda"
policy: "MlpPolicy"
seed: 14321

n_envs: 128
timesteps_per_env: 500_000
base_lr: 3e-4

delay:
  enabled: True
  obs_delay_range: [1, 8] # sample range of time steps to delay the observations by
  act_delay_range: [1, 2] # sample range of time steps to delay the actions by
  instant_rewards: False # should the rewards be calculated on the brain or remote actor?

ppo:
  n_steps: 512
  batch_size: 256
  n_epochs: 5

  gamma: 0.99
  gae_lambda: 0.95

  clip_range: 0.2
  clip_range_vf: None

  normalize_advantage: True

  ent_coef: 0.0
  vf_coef: 0.5

  max_grad_norm: 0.5
  use_sde: False
  sde_sample_freq: -1

  target_kl: None
